.container {
    margin-bottom: 15px;
    background-color: #f0f5f5;
    padding: 15px;
    border-radius: 5px;
}

.input-container {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
}

.text-input {
    border: none;
    border-bottom: 1px solid black;
    color: rgba(0,0,0,.85);
    background: transparent;
}

.shrink-label {
    top: -1.3rem;
    color: #1890ff;
    transform-origin: left;
    transform: scale(.83333);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.text-input:focus + label {
    position: absolute;
    top: -1.3rem;
    color: #1890ff;
    transform-origin: left;
    transform: scale(.83333);
}