.container {
    margin: 10px;
    border-radius: 1rem;
    background-color: #f8f9fc;
    overflow-y: scroll;
    padding: 20px;
}

.user-info {
    background-color: #e6f7ff;
    border-color: #91d5ff;
    margin-bottom: 20px;
    border-radius: 15px;
}

.cards-row {
    margin-top: 20px;
}

.status-card {
    height: 120rem;
    overflow-y: scroll;
    border: none;
    background-color: #ebf5ff;
}

.status-card .ant-card-head {
    background-color: #b3d4fc;
}